$font-path: '../fonts/';

$primary-black: #414042;
$secondary-black: #676767;
$light-black: #707070;
$rice: #F9F2EA;
$grey: #d8d8d8;
$light-white: #F6F6F6;

$primary: #00AEEF;

$white: #fff;

$small-device: 576px;
$tablet-width: 768px;
$xl-tablet-width: 992px;
$desktop-width: 1200px;
$xl-desktop-width: 1400px;

$slogan-colors: #00AEEF, #EC008C, #F7941D, #8DC63F, #F8EB00;

$slider-text-colors: $primary-black, $white, $primary-black, $white, $primary-black, $white;
$slider-mobile-text-colors: $primary-black, $white, $primary-black, $white, $primary-black, $primary-black;